GEMINI_API_KEY="GEMINI_API_KEY"
OPENAI_API_KEY="OPENAI_API_KEY"
PROXY_URL="PROXY_URL"

VK_ACC_TOKEN=VK_ACC_TOKEN
VK_ACC_USER_ID=VK_ACC_USER_ID

VK_GROUP_TOKEN=VK_GROUP_TOKEN
VK_GROUP_ID=VK_GROUP_ID

GIGACHAT_ID=GIGACHAT_ID
GIGACHAT_API_KEY=GIGACHAT_API_KEY

DATABASE_URL=postgresql+psycopg://vkaudit:vkaudit@localhost:15433/vkaudit
RABBITMQ_URL=amqp://guest:guest@localhost:5673/
RABBITMQ_QUEUE=vk_audit_jobs
RABBITMQ_MAX_ATTEMPTS=3

POLL_ACK_DELAY_SECONDS=2

SENDER_POLL_INTERVAL_SECONDS=30
SENDER_REPORT_DELAY_MINUTES=30
SENDER_OFFER_DELAY_MINUTES=60
SENDER_BATCH_SIZE=10
SENDER_MAX_ATTEMPTS=5
SENDER_RETRY_DELAY_MINUTES=5
